.purple {
    background-color: #813D7E;
}

.btn-manual {
    color: #813D7E;
    background-color: #ffffff;
    border-radius: 12px;
}

.sidebar_icon {
    font-size: 15px;
    display: inline;
    vertical-align: middle;
    position: relative;
    top: -1.2px;
    padding-right: 2px;
}